@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --font-display: "Jura", "sans-serif";
}
